apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: sporty-pool
  namespace: sporty
  labels:
    strimzi.io/cluster: sporty
spec:
  replicas: 3
  roles:
    - controller
    - broker
  storage:
    type: ephemeral

---
apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: sporty
  namespace: sporty
spec:
  kafka:
    version: 4.1.1
    metadataVersion: "4.1"
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      default.replication.factor: 3
      min.insync.replicas: 2
      num.partitions: 72
  entityOperator:
    topicOperator: {}
    userOperator: {}
